@import '../mixins/mixins';
@import '../variables/variables';

#team {
    .team-member {
        width: 80%;
        margin-top: 40px;
        img {
            width: 100%;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }
    .mini-row {
        @include middle-flex;
    }
    .team-icons {
        display: inline-flex;
  @include icons;
    }
}
