.body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 900px;
    height: 900px;
}

.square {
    width: 33%;
    height: 33%;
    display: inline-block;
    position: relative;
}

.circle {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}
