body {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: #777777;
    text-align: center;
    font-size: 0.9rem;
}

nav,
h1,
h2,
h3,
h4,
button,
input,
textarea,
footer {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
}

button {
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.special-italics {
    font-style: italic;
    font-family: 'Droid Serif', serif;
}

.navbar-brand {
    font-size: 2rem;
}

#top-banner-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../img/header/pictures_on_the_wall.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header/pictures_on_the_wall.jpg');
}



.top-banner {
    /*    background-image: url(../img/header/pictures_on_the_wall.jpg);*/
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mini-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.my-btn {
    background-color: #10d8d8;
    color: #fff;
    padding: 10px 25px;
    font-size: 1rem;
}

.my-btn:hover {
    background-color: #fff;
    color: #10d8d8;
    border: 1px solid #10d8d8;
}

.nav-bg {
    background: rgba(16, 216, 216, 0.7);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.nav-bg-remove {
    background: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.extra-margin {
    padding: 100px 0px;
}

.display-4 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.0rem;
    font-weight: bold;
}

.my-icon {
    width: 80px;
    height: 80px;
    background-color: #10d8d8;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin: 45px 0px 20px 0px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.my-icon:hover {
    color: #10d8d8;
    background-color: #fff;
    border: 1px solid #10d8d8;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.my-icon i {
    line-height: 80px;
    font-size: 2.5rem;
}

.grey-bg {
    background-color: #f7f7f7
}

.portfolio-banner {
    width: 100%;
    height: 250px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.portfolio-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.portfolio-banner:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.portfolio-over {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    line-height: 250px;
    background: rgba(16, 216, 216, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.portfolio-banner:hover .portfolio-over {
    opacity: 1;
}

.portfolio-banner i {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.portfolio-banner:hover i {
    opacity: 1;
}

.portfolio-over .fa {
    color: #fff;
    font-size: 3rem;
}

.white-bg {
    background-color: white;
    width: 100%;
}

.white-bg h4 {
    margin-top: 20px;
}

.team-member {
    width: 80%;
    margin-top: 40px;
}

.team-member img {
    width: 100%;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.team-icons a {
    width: 40px;
    height: 40px;
    background-color: #222222;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0px 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.team-icons a:hover {
    background-color: #0dd8de;
}

.team-icons a .fa {
    color: #fff;
    line-height: 40px;
}

.contact-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url('../img/footer/world-map.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../img/footer/world-map.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: #fff;
}

input,
textarea {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    display: block;
}

input {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 210px;
}

input::-webkit-input-placeholder {
    color: #c5c5c5;
}

input:-ms-input-placeholder {
    color: #c5c5c5;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #c5c5c5;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: #c5c5c5;
}

textarea::placeholder,
input::placeholder {
    color: #c5c5c5;
}

#contact-form {
    margin-top: 50px;
}

input[type="submit"] {
    background-color: #10d8d8;
    width: 300px;
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    text-align: center;
    font-size: 1.1rem;
    height: 70px;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #10d8d8;
    cursor: pointer;
}

.middle-float {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer {
    margin: 30px 0px;
    color: #222222;
    line-height: 40px;
}

footer a {
    color: #222222;
    text-decoration: none;
}

footer a:hover {
    color: #10d8d8;

}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .middle-on-smaller {
        float: none;
        margin: 0 auto;
    }
    h1 {
        font-size: 3.2rem;
    }

    .top-banner {
        height: 70vh;
    }
}
