body {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #777777;
    text-align: center;
    font-size: 1rem;
    line-height: 2;
}

p {
    margin: 0;
    line-height: 1.5;
}

.nav-bg {
    background: rgba(151, 7, 7, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.nav-bg-remove {
    background: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

/* NEW */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left-align {
    text-align: left;
}

.attractions-img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.extra-spacer {

    padding: 50px 0px;
    font-weight: bold;
}

.contact-row {
    margin-top: 50px;
}



.top-spacer {
    padding-top: 30px;
}

.extra-margin {
    padding: 100px 0px;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    width: 100%;
    margin-right: 15px;
    text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link::before {
    border-bottom: 1px solid white;
    content: '';
    width: 0px;
    position: absolute;
    bottom: 6px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 80%;
}


.navbar-brand {
    font-size: 2rem;
}

.navbar-mid {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h2 {
    font-weight: 300;


}

#main-nav {
    font-size: 1.5rem;
}

.left-align {
    text-align: left;
}

.logo {
    float: right;
}


h3 {
    font-size: 2rem;
}

.mini-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* NEW END */

#top-banner-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.4))), url('../img/header/zakatek-top-banner.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../img/header/zakatek-top-banner.jpg');
}



.top-banner {
    /*    background-image: url(../img/header/pictures_on_the_wall.jpg);*/
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}




.grey-bg {
    background-color: #f0f0f0
}

.portfolio-banner {
    width: 100%;
    height: 250px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.portfolio-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.portfolio-banner:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.portfolio-over {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    line-height: 250px;
    background: rgba(16, 216, 216, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.portfolio-banner:hover .portfolio-over {
    opacity: 1;
}

.portfolio-banner i {
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.portfolio-banner:hover i {
    opacity: 1;
}

.portfolio-over .fa {
    color: #fff;
    font-size: 3rem;
}

.white-bg {
    background-color: white;
    width: 100%;
}

.white-bg h4 {
    margin-top: 20px;
}

.team-member {
    width: 80%;
    margin-top: 40px;
}

.team-member img {
    width: 100%;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.team-icons a {
    width: 40px;
    height: 40px;
    background-color: #222222;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0px 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.team-icons a:hover {
    background-color: #0dd8de;
}

.team-icons a .fa {
    color: #fff;
    line-height: 40px;
}


input,
textarea {
    padding: 15px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    width: 97%;
}

input {
    height: 60px;
    margin-bottom: 15px;
}

textarea {
    height: 230px;
}




input[type="submit"] {
    background-color: #970707;
    width: 97%;
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    text-align: center;
    font-size: 1.1rem;
    height: 70px;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #970707;
    cursor: pointer;
}

#photos {
    text-align: left;
}

.middle-float {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

input::-webkit-input-placeholder {
    color: #c5c5c5;
}

input:-ms-input-placeholder {
    color: #c5c5c5;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #c5c5c5;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: #c5c5c5;
}

textarea::placeholder,
input::placeholder {
    color: #c5c5c5;
}


footer {
    margin-top: 30px;
    color: #222222;
    line-height: 40px;
    background-color: #777;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: left;
    line-height: 1.6;
}

footer a {
    color: #222222;
    text-decoration: none;
}

footer a:hover {
    color: #10d8d8;

}

.bigger-font {
    font-size: 1.4rem;
}

footer img {
    max-width: 100%;
}
