@mixin middle-flex {
   display: flex;
            align-content: center;
            justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin icons
{
          a{
                width: 40px;
    height: 40px;
    background-color: $dark-grey;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0px 4px;
            line-height: 40px;
    transition: all 0.4s;
            color: #fff;
            
             &:hover {
            background-color: $teal-color;
                 color: #fff;
        }
        }
} 


    