#top-banner-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../img/header/pictures_on_the_wall.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/header/pictures_on_the_wall.jpg");
}

#top-banner-section .top-banner {
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top-banner-section .top-banner h1 {
    font-size: 4rem;
}

#top-banner-section .top-banner .my-btn {
    background-color: #10d8d8;
    color: #fff;
    padding: 10px 25px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

#top-banner-section .top-banner .my-btn:hover {
    background-color: #fff;
    color: #10d8d8;
    border: 1px solid #10d8d8;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }

    .top-banner {
        height: 70vh;
    }
}
