//font families
$main-font: 'Roboto Slab',
serif;
$header-font: 'Montserrat',
sans-serif;
$italic-font: 'Droid Serif', serif;

//colors
$teal-color:#10d8d8; 
$super-light-grey: #f7f7f7;
$light-grey-color: #c5c5c5;
$dark-grey: #222222; 
$medium-grey: #777777;   
$faint-teal: rgba(16, 216, 216, 0.5); 
