 @import '../contact/contact';
 @import '../footer/footer';
 @import '../header/header';
 @import '../navigation/navigation';
 @import '../portfolio/portfolio';
 @import '../services/services';
 @import '../team/team';
 @import '../variables/variables';
 @import '../mixins/mixins';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $medium-grey;
    text-align: center;
    
}

nav,
h1,
h2,
h3,
h4,
button,
input,
textarea,
footer {
    font-family: $header-font;
}

.special-italics {
      font-style: italic;
    font-family: $italic-font;
    font-weight: 300; 
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
    
    span.sub-title {
    font-size: 2.3rem;
    text-transform: capitalize;
    display: block;
    
}
}


h3 {
    font-size: 1rem; 
}

section {
    padding: 100px 0px;
}

h4 {
    font-size: 1.0rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .middle-on-smaller {
        float: none;
        margin: 0 auto;
    }
}
