* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    background-color: #f9fcfe;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

ul {
    margin: 0;
}


/* helpers */

#main-header {
    height: 90vh;
    width: 100%;
    background-image: url('../img/header-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}


/* nawigacja */

#menuToggle input {
    display: none;
}

#top-nav {
    width: 100%;
    background-color: #fff;
    line-height: 60px;
    text-align: right;
    height: 60px;
    position: fixed;
    z-index: 10;
}

#top-nav ul li {
    display: inline-block;
    padding-right: 50px;
}

#top-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}

.clear {
    clear: both;
}

h1 {
    font-size: 7.4em;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

h1 span {
    color: #1ac056;
    font-weight: normal;
}

h2 {
    font-weight: 100;
    font-size: 2.1em;
    padding: 0;
    margin: 0;
}

.mid {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
}

section {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    padding-bottom: 60px;
}

#o-mnie {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.about-me {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

.about-me img {
    width: 25%;
    float: left;
    border: 20px solid #ffffff;
    border-radius: 25px;
}

p {
    font-weight: 300;
}

.about-me p {
    display: inline-block;
    width: 55%;
    text-align: left;
}

#umiejetnosci {
    padding-left: 10%;
    padding-right: 10%;
}

#umiejetnosci figure {
    display: inline-block;
    margin-top: 60px;
}

#umiejetnosci figure:not(:last-of-type) {
    margin-right: 50px;
}

#umiejetnosci figure figcaption {
    margin-top: 30px;
}

#portfolio {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
}

h3 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 40px;
}

h3 span {
    color: #1ac056;
    font-weight: 400;
}

#moje-port-between {
    margin: 0;
    padding: 0;
}

#moje-port-between h3 {
    margin-bottom: 0px;
}

.skill {
    width: 33%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    height: 370px;
}

.skill-first {
    background-image: url('../img/portfolio1.jpg');
}

.skill-second {
    background-image: url('../img/portfolio2.jpg');
}

.skill-third {
    background-image: url('../img/portfolio4.jpg');
}

.item-mask {
    background-color: rgba(33, 59, 80, 0.5);
    color: #fff;
    height: 100%;
    opacity: 0;
    padding: 5px;
    transition: all 0.7s;
}

.item-mask-inner {
    border: 1px solid #fff;
    position: relative;
    height: 100%;
}

.item-mask-inner-copy {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.fa {
    margin-top: 30px;
}

.skill__inner p span {
    font-size: 24px;
    font-weight: 500;
}

.skill:hover .item-mask {
    opacity: 1;
}

footer {
    background-color: #213b50;
    height: 380px;
    padding-top: 40px;
}

#contact {
    color: #fff;
    width: 50%;
    float: left;
}

#contact address {
    font-style: normal;
}

#contact a {
    color: #1ac056;
}

#contact h3 {
    margin: 0;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

#extra-footer {
    background-color: #142634;
    height: 40px;
    color: #fff;
    line-height: 40px;
}

#social-media-list {}

#social-media-list a i {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    background-color: #213b50;
}

#social-media-list a:not(:last-of-type) {
    margin-right: 10px;
}

#contact-form {
    color: #fff;
    width: 50%;
    float: right;
}

input,
textarea {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    background-color: #2b4a64;
    color: #9bbabf;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    background-color: #617e97;
}

input[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    width: 20%;
    border: 1px solid #fff;
    font-weight: bold;
    padding: 15px;
    float: right;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
}

#social-media-list i:hover {
    background-color: #fff;
    color: #1ac056;
}

@media all and (min-width: 992px) and (max-width:1200px) {
    .skill-first {
        width: 50%;
    }
    .skill-second {
        width: 50%;
    }
    .skill-third {
        width: 100%;
    }
}

@media all and (max-width: 992px) {
    #menuToggle {
        z-index: 20;
        width: 100%;
    }
    .about-me,
    #umiejetnosci {
        margin: 0;
    }
    #top-nav #menuToggle #menu li {
        display: block;
        padding: 0px;
        width: 100%;
    }
    #top-nav #menuToggle #menu li a {
        display: block;
        width: 100%;
        transition: all 0.5s;
        background-color: #f4f8f6;
    }
    #top-nav #menuToggle #menu li a:hover {
        background-color: #1ac056;
        color: #fff;
    }
    #top-nav #menuToggle #menu li:first-child {
        padding-top: 40px;
    }
    #menuToggle input {
        display: block;
        height: 60px;
        margin: 0;
        position: absolute;
        top: 0px;
        cursor: pointer;
        opacity: 0;
        z-index: 40;
    }
    #menuToggle span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30;
    }
    #menuToggle span:after {
        content: 'MENU';
        color: #1ac056;
        font-size: 25px;
        display: block;
        padding-right: 15px;
    }
    #menu {
        text-align: center;
        overflow: hidden;
        padding: 20px 0px 0px 0px;
        background: #fff;
        font-size: 22px;
        list-style-type: none;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
    #menuToggle input:checked~ul {
        -webkit-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    #main-header {
        height: 60vh;
    }
    h1 {
        font-size: 3.4em;
    }
    section {
        margin-top: 0px;
    }
    #portfolio {
        padding-left: 3%;
        padding-right: 3%;
    }
    .about-me img {
        width: 80%;
        border: 10px solid #ffffff;
        border-radius: 25px;
        margin: auto;
        float: none;
    }
    .about-me p {
        width: 80%;
    }
    .skill {
        width: 100%;
    }
    #contact {
        width: 100%;
        text-align: center;
        float: none;
    }
    footer {
        height: auto;
    }
    #extra-footer {
        text-align: center;
    }
    #contact-form {
        margin-top: 40px;
        width: 100%;
    }
    input[type="submit"] {
        width: 100%;
    }
}
